# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=Harri1923.
DB_DATABASE=nestjs_db
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Application Configuration
PORT=3000

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
